.vs/Optimizely.Labs.ComputerVision/DesignTimeBuild
.vs/Optimizely.Labs.ComputerVision/FileContentIndex
.vs/Optimizely.Labs.ComputerVision/v17
.vs/ProjectEvaluation
src/Optimizely.Labs.ComputerVision/bin
src/Optimizely.Labs.ComputerVision/obj
